body{
    background-image: url("bg.jpg");
      background-size: cover;
  
  
}
.heading{
width:20%;
margin:20px auto;
text-align: center;
color:#6B8E23;
background:#FFF8DC;
border:5px solid #146948;
border-radius: 20px;
user-select: none;


}

i,h2{
    display: inline-block;

}

form{
    width: 50%;
    margin: 30px auto;
    border-radius: 5px;
    padding: 10px;
    background: #FFF8DC;
    border: 1px solid #6B8E23;
    user-select: none;

}
.task_input{
    width: 73%;
    height: 40px;
    padding: 10px;
    border:3px solid #6B8E23;
   
}
.task_btn{
    height: 40px;
    background: #FFF8DC;
    color: #6B8E23;
    border: 2px solid #6B8E23;
    border-radius: 100px;
    padding: 5px 20px;
    user-select: none;

    
}
table{
    width: 50%;
    margin: 30px auto;
    border-radius: 5px;
   background: #FFF8DC;
    border: 2px solid #6B8E23;
    text-align: center;
}
.num{
    font-family:Fantasy;
    font-size: 20px;
    color:darkmagenta;
}
tr{
    border-bottom: 1px solid #000000;
    user-select: none;

}
th{
    font-size: 20px;
    color: #6B8E23;
}
th, td{
    border: none;
    height: 50px;
    padding: 2px;
}
tr:hover{
    background: #aab8e6;
    transition: all .5s;
    color:#ff0606;
}

label{
    display:block;
    text-align: center;
    font-family:'Architects Daughter', cursive;
    font-size: 22px;
    user-select: none;
}

.delete{
    text-align: center;
}

.delete a{
    color: white;
    background: #a52a2a;
    padding: 1px 7px;
    border-radius: 10px;
  
}
.delete a:hover{
    color:#f81bb6; 
     text-decoration: none;
}
form p{
    text-align: left;
    color:rgb(39, 110, 202);
    font-size: 20px;
    margin:0px
}
  
  input[type="checkbox"] {
       display:none;
  }

  input[type="checkbox"]+label::before {
    content: "\2714";
    font-size: 13px;
    border: 2px solid #ff1212;

    border-radius: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 3px;
    margin-right: 1px;
    color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s;  
    text-align:left;
  
  }
input[type="checkbox"]:checked+label::before{
  color: #FFFFFF;
   background: #ff1212;
  border: 2px solid #ff0000;
}